@model AllBlogList
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul style="margin:0;padding:0;">
        @foreach(var eachPost in Model.allRecords) {
            <li>
                <a asp-action="GetArticle" asp-route-id="@eachPost.Id">[@eachPost.PostDate] @eachPost.Title</a>
            </li>
        }
    </ul>

</div>
